<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">{{ "INICIO" | translate }}</a>
        <a routerLink="/quienes-somos" routerLinkActive="active" ariaCurrentWhenActive="page">Quienes Somos</a>
        <a routerLink="/contacto" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a>

    </div>
    <div style="float:right;">
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" style="float:right;">Login</a>
    </div>
    <!-- <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li><a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a></li>
            <li><a routerLink="/quienes-somos" routerLinkActive="active" ariaCurrentWhenActive="page">Quienes Somos</a></li>
        </ul>
    </div>-->
  </mat-toolbar>
