<app-menu-navegacion></app-menu-navegacion>
<!--
<h1>Que te debo!</h1>
<nav>
    <ul>
        <li><a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a></li>
        <li><a routerLink="/quienes-somos" routerLinkActive="active" ariaCurrentWhenActive="page">Quienes Somos</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a></li>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    </ul>
</nav>-->


<!-- <button mat-button [matMenuTriggerFor]="quienes-somos">Quienes somos</button> -->
<!--<button mat-button matMenuTriggerFor="quienes-somos">Quienes somos</button> -->

<!-- Aquí cargará la app -->
<router-outlet></router-outlet>