main {
  margin: 10px 0px 0px 10px;
  height: calc(100vh - 138px);
}

// PARA PONER EL MENU A LA IZQUIERDA
// .menu-spacer {
//   flex: 1 1 auto;
// }

div.derecha{
  position: absolute;
  top: 14px;
  right: 15px;
}

mat-toolbar-row{
  width: 100vw !important;
}

.btn-login{
  float: right;
}

a{
  text-decoration: none;
}

.iconos-navbar{
  margin-right: 5px;
}

.items-menu{
  position: absolute;
  top: 10px;
  padding-left: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

mat-sidenav{
  width: 325px !important;
}

mat-expansion-panel-header{
  padding: 0 16px;
}

.item-titulo{
  margin-left: 30px;
  font-size:1.6em;
  padding-top: 3px;
}

