<!-- AQUI ESTARÁ EL FORMULARIO DE CREACIÓN DEL USUARIO (SIN LO DATOS PERSONALES) -->
<div class="contenedor-principal">
  <section>
    <h2>{{ "TITULO_CREAR_COBRO" | translate }}</h2>
    <article>
      <mat-form-field floatLabel="always">
        <mat-label>Receptor (poner email)</mat-label>
        <input matInput placeholder='Nombre' [(ngModel)]="receptor" />
      </mat-form-field>
    </article>

    <article>
      <mat-form-field class="example-form-field" floatLabel="always">
        <mat-label>{{ "CREAR_COBRO_FECHA" | translate }}</mat-label>
        <input matInput [matDatepicker]="datepicker" [(ngModel)]="creacion" [min]="minima_fecha" [max]="maxima_fecha" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker >
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>{{ "BTN_CANCELAR" | translate | titlecase }}</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              {{ "BTN_ACEPTAR" | translate | titlecase }}
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </article>

    <article>
      <mat-form-field floatLabel="always">
        <mat-label>{{ "CREAR_COBRO_TITULO" | translate | titlecase }}</mat-label>
        <input
          matInput
          placeholder="Cena fin de semana"
          [(ngModel)]="titulo"
        />
      </mat-form-field>
    </article>

    <article>
      <mat-form-field floatLabel="always">
        <mat-label>{{ "CREAR_COBRO_TEXTO" | translate | titlecase }}</mat-label>
        <textarea matInput placeholder="Parte del pago de la cena reservada para el sábado con los amigos" [(ngModel)]="texto"></textarea>
      </mat-form-field>
    </article>

    <article>
      <mat-form-field floatLabel="always">
        <mat-label>{{ "CREAR_COBRO_IMPORTE" | translate | titlecase }}</mat-label>
        <input
          matInput
          type="number"
          class="alineado-derecha"
          placeholder="25"
          [(ngModel)]="importe"
        />
      </mat-form-field>
    </article>

    <article>
      <button
        class="btn-guardar"
        mat-fab
        extended
        color="primary"
        (click)="btnCrearCobro()"
      >
        <mat-icon>save</mat-icon>
        {{ "BTN_GUARDAR" | translate | uppercase }}
      </button>

      <button mat-fab extended color="primary" (click)="vaciarDatos()">
        <mat-icon>undo</mat-icon>
        {{ "VACIAR_DATOS" | translate | titlecase }}
      </button>
    </article>
  </section>
</div>
